CONFIG_D="{{ DEHYDRATED_CONFIG_CONFIG_D }}"
BASEDIR="{{ DEHYDRATED_CONFIG_BASEDIR }}"
WELLKNOWN="{{ DEHYDRATED_CONFIG_WELLKNOWN }}"
DOMAINS_TXT="{{ DEHYDRATED_CONFIG_DOMAINS_TXT }}"
CA="{{ DEHYDRATED_CONFIG_CA }}"
CHALLENGETYPE="{{ DEHYDRATED_CONFIG_CHALLENGETYPE }}"
HOOK="{{ DEHYDRATED_CONFIG_HOOK }}"
LOCKFILE="{{ DEHYDRATED_CONFIG_LOCKFILE }}"
AUTO_CLEANUP="{{ DEHYDRATED_CONFIG_AUTO_CLEANUP }}"